$primary-colour: #00B074;
$secondary-colour: #7C7C7D;
a {
    text-decoration: none;
    color: $secondary-colour;
    font-weight: 400;
}

a:hover {
    font-weight: 400;
    color: $primary-colour !important;
    text-decoration: solid;
    transition: font-weight 0.2s ease;
}

.active {
    font-weight: 900;
    color: $primary-colour !important;
    text-decoration: solid;
    transition: font-weight 0.2s ease;
}